.alarm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alarm-text {
  font-size: 20px;
  margin-right: 10px;
  width: 100px;
}

.alarm-inactive {
  opacity: 0.5;
  text-decoration: line-through;
}

.alarm-checkbox {
  width: 20px;
  height: 20px;
}

.alarm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: lightblue;
  border-radius: 20px;
  border: 1px solid black;
  margin-left: 10px;
  cursor: pointer;
}

.alarm-button:hover:not(.alarm-active) {
  opacity: 0.8;
}

.alarm-button:active:not(.alarm-active) {
  opacity: 0.6;
  box-shadow: 5px 5px 5px lightgray;
}

.alarm-active {
  background-color: red;
  pointer-events: none;
  opacity: 0.6;
}

.trash-button{
  margin-left: 6px;
}


