.alarm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alarm-text {
  font-size: 20px;
  margin-right: 10px;
}

.alarm-inactive {
  opacity: 0.5;
  text-decoration: line-through;
}

.alarm-checkbox {
  width: 20px;
  height: 20px;
}

.disable-alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: lightblue;
  border-radius: 20px;
  border: 1px solid black;
  margin-left: 10px;
  cursor: pointer;
}

.disable-alarm:hover {
  opacity: 0.8;
}

.disable-alarm:active {
  opacity: 0.6;
  box-shadow: 5px 5px 5px lightgray;
}
